.orders{
    padding: 20px;
    margin: 15px;
}
.orderContainer{
    margin-top: 30px;
    display: flex;

}
.orderDescription{
    margin-left: 12px;
}
.orderbuttons{
    display: flex;
    flex-direction: column;
    margin-left:auto
}
.orderButton{
    margin-top: 5px;
    outline:none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    background-color:  #FFD700;
    padding: 10px;
    cursor: pointer;
}